@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {
    --text-color: #FFF2E7;
    --text-dark: #2F2325;
    --dark-red-bg: #301313;
    --red-bg:  #924141;
    --light-red: #ECC4C4;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: linear-gradient(68.15deg, var(--dark-red-bg) 16.62%, var(--red-bg) 85.61%);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
}

.header-logo {
    height: 62px;
}

.header-menu {
    display: flex;
    gap: 32px;
}

.header-menu-item {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
}


.content {
    border-top: 0.4px solid var(--text-color);
    margin-bottom: 48px;
}

.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-content-text {
    font-family: 'Sarala', sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.main-content-text h1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
}

.main-content-text h3 {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--light-red);
}

.main-content-btn {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--text-dark);
    width: 180px;
    height: 60px;
    background-color: var(--light-red);
    border: none;
    border-radius: 20px;
    /* padding: 20px; */
}

.main-content-btn:hover {
    background-color: var(--red-bg);
    color: var(--text-color);
    cursor: pointer;
}

.main-content-img {
    margin-top: 20px;
    height: 430px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.info-title {
    border-top: 0.4px solid var(--text-color);
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 16px;
}

.info-list {
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    color: var(--light-red);
    text-align: center;
    line-height: 48px;
}

.footer {
    padding: 32px;
    border-top: 0.4px solid var(--text-color);
}

.footer-img {
    height: 110px;
    display: block;
    margin: auto;
}